
<h3>Train details: <%= @train.name() %></h3>
<hr>

<% if @train.cities().any?() %>
<h3>Stops</h3>

<ul>
  <% @train.cities().each() do |city| %>
  <li><%= city.name() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no cities for this train.</p>
<% end %>

<hr>

<h3>Cities:</h3>
<% if @cities.any?() %>
<form action='/train/<%= @train.id %>' method="post">
  <input type="hidden" name="_method" value="patch">

  <% @cities.each() do |city|%>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="city_ids[]" value="<%= city.id()%>"><%= city.name()%>
    </label>
  </div>
  <% end %>

  <button type="submit">Add cities</button>
</form>
<% end %>

<hr>

<a href="/">Return to dashboard</a>

<hr>

<form class="form-group" action="/train/<%= @train.id() %>" method="post">
  <input class="form-control" type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete <%= @train.name() %></button>
</form>
