
<h3>Train details: <%= @train.name() %></h3>

<h3>Cities:</h3>

<% if @cities.any?() %>
<h3>Stops</h3>
<ul>
  <% @cities.each() do |city| %>
    <li><%= city.name() %></li>
  <% end %>
</ul>

<% else %>
<p>
  There are no cities yet!
</p>
<% end %>
<hr>

<h3>Add a Stop</h3>
<form class="form-group" action="/train/<%= @train.id() %>" method="post">
  <label for="city-name">City name</label>
  <input type="text" name="city-name">
  <button type="submit">Add Stop</button>
</form>

<a href="/">Return to dashboard</a>


<form class="form-group" action="/train/<%= @train.id() %>" method="post">
  <input class="form-control" type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete <%= @train.name() %></button>
</form>
